
section.module.parallax-4 {
  background-image: url("https://s3-eu-west-1.amazonaws.com/squash-bucket/uploads/user/user_image/london-map.jpg");
  height: 800px;
  margin-top: 20px;
  z-index: -2;
}
.animation-photo{
  position:absolute;
  top:40%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  border-radius:1000px;
  width:280px;
  height:280px;
  padding:5px;
  /*border:2px solid #efefef;*/
  background:#064D54;
  opacity: 0.9;
}

#animation-dot {
  position:absolute;
  top:25%;
  left:63%;
  border-radius:1000px;
  width:8px;
  height:8px;
  background:#EFFB4F;
  opacity: 0.8;
}

#loading {
  position:absolute;
  top:44%;
  left:14%;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 30px;
  color:#F0E797;
  letter-spacing: 7px;
  opacity: 0.9;
}

.pulse{
  position:absolute;
  left:50%;
  top:40%;
  width:800px;
  height:500px;
  background:radial-gradient(white 40%, orange);
  z-index:2;
  transform:translateY(-50%) translateX(-50%);
  border-radius:1000px;
  opacity:0.9;
  border:2px solid red;
}

#search-results {
  padding:0;
  text-align: center;
  width:100%;
  height: 800px;
}
#search-results .main-page-courts, .main-page-challenges {
  display: inline-block !important;
  text-align: center

}
#search-results .main-page-courts, .main-page-challenges h4 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px; 
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
#search-results .main-page-courts h4 {
  color: #B714A3;
  opacity:.8;
}
#search-results .main-page-challenges h4 {
  color: #E12558;
  opacity:.8;
}
#search-results .main-page-courts {
  padding-right: 60px;
  border: 1px solid #E2EAFE;
  width:45%;
  height:800px;
}
#search-results .main-page-challenges {
  padding-left: 60px;
  width:45%;
}

.av-courts ul {
  list-style-type: none;
  width: 400px;
}
.av-courts li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 3px; 
}
.bookedCourt {
  
}

/*.bookedCourt {
  border: .2em black solid;
  width: 800px;
  padding: 10px;
  margin: 10px;
  margin-right: 0;
  margin-left: 2.5em;
  font-size: 2em;
}

.court-info {
  text-align: center;
  font-size: 1em;
  text-decoration: none;
}
.court-button {
  width: 20em;
  font-size: 2.8em;
}
.find-court-button {
  background-color: #AF4FDD;
}
.all_courts {
  text-decoration: none;
  list-style-type: none;
  padding: 3px;
  margin-top: 1em;
  font-size: 2em;
}*/

/*.container-4.main-page-courts, .main-page-challenges {
  width:20%;
  display: inline-block !important;
}
*/
/*.main-wrapper {
  width: 100%;
  height: 2000px;
  margin: 10px auto 0 auto;
}
.fixed-map {

  height:600px;
}
.fixed-map img {
  width:100%;
/*  height:600px;*/


/*.map {
  display: block;
   height: 300px; 
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1em;
   margin-bottom: 2em;
   padding-left: 0;
   padding-right: 1em;
}*/

