body {
  background: #fafaff;
}

#test-wrap {
  text-align: center;
  margin: 0px auto;
  width: 100%;


}

#test-div-1, #test-div-2 {
  margin-top: 1em;
  width: 49%;
  height:100%;
/*  min-height: 60em;*/
  background: #fafaff;
  border-radius: .5em;
  font-family: 'Montserrat', sans-serif;

}
.popover {
  margin-left:90px;
  min-height: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  width:40%;
    h3 {
      font-size: 2em;
    }
    .popover-content{
      font-size: 1.5em;
      font-weight:lighter;
    }
}

#test-div-1 {
  float:left;
}
#test-div-2 {
  float:right;
}
#test-wrap .clearfix {
  overflow: auto;
  zoom: 1;
}

#test-div-1 #my-profile-card {
  width:60%;
  height:28em;
  margin: 5% auto 5% auto;
  border-radius: 1em;
  opacity:1;
  z-index: -500;
  padding-bottom: 5em;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  overflow: auto;
    .bumper {
      height:4em;
    }
    .edit-link {
      border-bottom-right-radius: .1em;
      background-color:#090E14;
      color:#25CF87;
      width: 2.5em;
      font-family: 'Inconsolata', sans-serif;
      font-size: 1em;
      cursor:pointer;       
    }
    .edit-link:hover {
      background-color:#0ED085;
      color:#090E14;
    }
    .panel-heading {
      background-color:rgba(12, 93, 201, 1.0);
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;

        h2 {
          font-size: 1em;
          letter-spacing:.4em; 
          margin:2% 0 2% 0;
          color:white;      
        }
    }
    .my-profile-img-and-elo-wrap {
      width:90%;
        .my-profile-picture {
          width:40%;  
          float:left; 
          position: relative;
          min-height: 20px;
          padding: 10px;
          margin: 20px 15px 20px;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.05);   
            img {
              text-align: center;
              width:150px;
              height: 229px;
              vertical-align: middle;
              -webkit-border-radius: 6px;
               -moz-border-radius: 6px;
                    border-radius: 6px;
            }
        }
        .my-pro-big-elo {
          width:35%;  
          float:left; 
          text-align: center;
          position: relative;
          min-height: 20px;
          padding: 10px;
          margin: 20px auto 20px auto;
          background-color: #f5f5f5;
          border: 1px solid #e3e3e3;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.05);   
          height: 230px;
          vertical-align: middle;
          font-size: 1.5em;
            .title {
                padding-top: 60px;
              }
              .value {
                padding-top: 50px;

              }
        }
    }
    .clearfix {
      overflow: auto; 
      zoom: 1;
    }
    .my-profile-name {
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      color:white;
      width:100%;
      text-align:center;
      opacity:.9;
      letter-spacing:.1em;
      color: rgba(19, 72, 186, 1.0)
    } 
    .my-stats {
      min-height: 20px;
      padding: 10px;
      margin: 0 auto 20px auto;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
     /* height: 7em;*/
      width:90%;
     /* background-color:#FFDD3A; */
        .item {
          padding-top: .2em; 
          padding-bottom:.5em; 
          width:20%;
          float:left;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          text-align: center;
          font-weight: 200;
          font-size: 1em;
            .title {
              padding-top: 1.5em;
              padding-bottom:1em; 
            }
            .value {
              margin-top:.5em; 
              font-weight: lighter
            }
        }
    }   
    .clearfix {
      overflow: auto; 
      zoom: 1;}  
    .my-profile-links {
      min-height: 20px;
      padding: 10px;
      margin: 0 auto;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
     /* height: 7em;*/
      width:90%;
     /* background-color:#FFDD3A; */
        .item {
          padding-top:.5em; 
          width:20%;
          float:left;
          font-family: 'Inconsolata', sans-serif;
          text-align: center;
          font-size: 1em;
            .info-circle {
              height:3em;
              width:3em;
              margin-bottom:.5em;
                p {
                  margin:12px;
                }
                .i {
                  margin-top: 10%;
                  vertical-align: center;
                }
            }
        }
    }  
}
.clearfix {
  overflow: auto; 
  zoom: 1;
}

#test-div-2 {
  margin: 3% auto;
 .my-profile-nav-bar {
    width:94%;
    margin: 0 auto;
    border-bottom:.1em solid #2B303B;
      .profile-nav-bookings, .profile-nav-challenges  {
        width:50%; 
        float:left;
        text-align: center;
        font-family: 'Inconsolata', sans-serif;
        font-size:1em;
        background-color:#456481; 
        cursor: pointer;
          h2 {
            color:#FF8484; 
          }    
      }  
  }
  .clearfix {
    overflow: auto; 
    zoom: 1;
  }
  .hack-div-34 {
    height:.1em; 
  }
  #my-booked-courts-wrap {
    display: none;
    width:94%;
    height:20em;
    margin: 5% auto 5% auto;
    border-radius: 1em;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    text-align:center; 
      h2 {
        font-size:3em; 
      }
    .booking-details {
      width:94%;
      margin: .1em auto .1em auto;
      border-radius: .2em;
      font-size:.7em;
      background-color:#0594F2;
      font-family: 'Inconsolata', sans-serif;
      color:black;  
        .bd-item {
          width:33%;
          float:left;
          height:5em;
            .title {
              padding-top:.5em;
              padding-bottom:.5em; 
            }
            .value {
              padding-top:.5em; 
            }
            .bd-hr {
              margin:0;
              height:.01em;
              background-color: rgba(255,255,255,1);         
            }
        }
    .clearfix {
      overflow: auto; 
      zoom: 1;
    }    
    }
    .my-social-links {
      width:94%;
      margin: .2em auto 2em auto;
      border-radius: .2em;
      font-size:1em;
      background-color:#0474D3;
      font-family: 'Inconsolata', sans-serif;
      color:black; 
        .my-sc-item {
          height:4em;
          width:25%;
          float:left;
            a {
              padding-top:.8em;
              padding-bottom:.5em; 
            }
            }
            .title {
              padding-top:.5em;
            }
        }
    .clearfix {
      overflow: auto; 
      zoom: 1;
    }    
    }
  #my-challengers-list {
    display: none;
    width:90%;
    height:22em;
    margin: 5% auto 5% auto;
    border-radius: 1em;
    background-color:white;
    
    font-family: 'Montserrat', sans-serif;
    text-align:center;
      .ang-challenge-wrapper {
         border: .2em solid #434B6A;
         border-radius: .5em
      } 
      .challenge-booking-deets {
        width:94%;  
        margin: 2.5% auto 1% auto;  
        background-color:#434B6B; 
        border-radius: 1em;
        font-family: 'Inconsolata', sans-serif;
        color:white; 
        font-size:.7em; 
          .cbd-item {
            height:5em;
            width:25%;
            float:left;
              .cbd-info-button {
                padding-top:1em;
                margin:0;
                word-wrap:normal;                
                  h2 {
                    margin:0; 
                  }
              }
           } 
           .cbd-item.last:hover {
             background-color:#E84F89;
           }      
        
          .title {
            padding-top:.5em;
            padding-bottom: .5em; 
          }
          .value {
            padding-top:.5em;        
          }
      .clearfix {
        overflow: auto; 
        zoom: 1; 
      } 
      }
      .challenger-personal-info {
        width:94%;  
        height:5em;
        margin: 1% auto 1% auto;  
        background-color:#FEDD53;    
        border-radius: 1em;
        font-family: 'Inconsolata', sans-serif;
          .chp-item {
            float:left;
          }
          .chp-item.item-1 {
            width: 15%;
            margin:0;
              img {
                margin-top:.5em;
                border-radius: 50%;
                width:3em;
                height:3em;
              }
          }
          .chp-item.item-2 {
            width:25%; 
          }
          .chp-item.item-3 {
            width:15%;
          }
          .chp-item.item-4{
            width:15%;
          }
          .chp-item.item-5{
            width:15%;
          }
          .chp-item.item-6{
            width:15%; 
              .cbd-info-button {
                padding-top:1em;
                margin:0;
                
                  h2 {
                    margin:0; 
                  }
              }
          }
          .title {
            padding-top:.5em;
            padding-bottom: .5em; 
          }
          .value {
            padding-top:.5em;        
          }
      .clearfix {
        overflow: auto; 
        zoom: 1; 
      }    
      }
      .chp-action-buttons {
        width:94%;  
        height:5em;
        margin: 1% auto 2.5% auto;  
        background-color:#3175E3;
        font-family: 'Inconsolata', sans-serif;
        border-radius: 1em;
          .item-chp-action {
            height:4em;
            padding-top:1em;
            width:20%;
            float:left;
          }
          .item-chp-action .lg-win:hover {
            background-color:#DFF0D8; 
          } 
          .item-chp-action .lg-loss:hover {
            background-color:#F2DEDE; 
          } 
      }      
      .clearfix {
        overflow: auto; 
        zoom: 1; 
      }
  }   
}




#test-div-1 .profile-header {
  padding: 30px 0 30px;
  color: #3F6371;
}
#test-div-1 h1 {
  font-size: 19px;
  line-height: 1.5;
  margin: 0;
}
#test-div-1 h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 1.4em;
}
#test-div-1 .profile-image {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border: 1px solid #6B1229;
  border-radius: 50%;
}
#test-div-1 .profile-image img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
#test-div-1 .profile-social-links {
  border-top: 1px solid #E1E1E5;
  border-bottom: 1px solid #E1E1E5;
  padding: 12px 0;
}
#test-div-1 .info-circle  {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid;
  border-radius: 100%;
  margin: 0 9px;
}
.blu {
  border-color: #3b5998;
  background-color: #3b5998;
}
.dblu  {
  background-color: #3f729b;
  border-color: #3b5998;
}
.lblu {
  background-color: #55acee;
}
.red:hover {
  background-color: #ea4c89;
}

#test-div-1 .profile-footer {
  padding: 30px 0;
}
#test-div-1 .profile-btn {
  display: inline-block;
  min-width: 120px;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
  background: #064D54;
  color: #EFFB4F;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all ease 0.3s;
}
/* this is for the 2 toggle buttons at the top for challenge / bookings */
#test-div-2 .profile-info-header {
  text-align: center;
  width: 100%;
}
#test-div-2 .profile-info-header .booking-info, .challenge-info {
  margin:0;
  padding:0;
  border:0;
  display: inline-block;
  width: 49%;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}
#test-div-2 .profile-info-header .booking-info {
  background-color: #456481;
  color: #FD8586;
}
#test-div-2 .profile-info-header .challenge-info {
  background-color: #3E5871;
  color:#FD8586;
}


/*this is for the booked court stub*/
#test-div-2 .booking-card-wrap {
  background-color: #EBEBEB;
  margin-top: 10px;
  padding: 5px;
}
#test-div-2 .booking-card {
  background-color: #FFF;
  margin: 0 auto 5px auto;
/*  border: 1px solid #456481;*/
  width: 95%;
  border-radius: 5px;
}
#test-div-2 .booking-title {
  background-color: #C6D6E3;
  width: 94%;
  border-radius: 5px;
  margin: 5px auto 5px auto;
}
#test-div-2 .booking-title h2 {
  color:#3a4142;

}
#test-div-2 .booking-card .booking-details {
  background:#4da6cf;
  width:94%;
  padding:25px 0 25px 0;
/*  min-height:140px;*/
  margin:0 auto;
  border-radius: 5px;
}
#test-div-2 .booking-card .booking-details .clearfix {
  overflow: auto;
  zoom: 1;
}
#test-div-2 .booking-card .booking-details .item {
  float:left;
  width:33%;
  text-align:center;
}
.item .title {
  color:#fff;
  font-size:10px;
  font-weight:300;
  padding-bottom: 20px
}
.item .value {
  color:#fff;
  font-size:18px;
  margin:4px 0 0 0;
  font-weight:100;
}
.booking-card .booking-links {
  min-height:60px;
  width:94%;
  padding: 5px 0 5px 0;
  margin: 5px auto 5px auto;
  background:#4da6cf;
  border-radius: 5px
}
#test-div-2 .booking-card .booking-links .info-circle {
  background-color:#fff;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border: 1px solid black;
  border-radius: 100%;
  /*padding: 0 15px;*/
  margin: 10px 20px; 
}
.booking-card .booking-links a i {
  margin: 0 auto 0 auto;
}
a .info-circle .map {
  padding: 0;
}
.booking-card .booking-links a i fa-map-marker {
  margin-left: 2px;
}



.booking-card .btn {
  width:94%;
  font-weight:200;
  margin:0 auto 8px auto;
  color:#fff;
  text-align:center;
  min-height:50px;
  padding:15px 0 0 0;
  font-size:12px;
  cursor:pointer;
}
.booking-card .btn-continue {
  background:#4da6cf;
}

#test-div-2 .challenge-card {
  background-color: #FFF;
  margin: 5px auto 5px auto;
  border: 1px solid #456481;
  width: 95%;
  border-radius: 5px;
}
#test-div-2 .challenge-title {

}
#test-div-2 .challenge-booking-details {
  background:#11A8AB;
  width:94%;
  margin:0 auto;
  border-radius: 5px;
}
#test-div-2 .challenge-booking-details .clearfix {
  overflow: auto;
  zoom: 1;
}
#test-div-2 .challenge-booking-details .item {
  float:left;
  width:25%;
  text-align:center;
}
#test-div-2 .challenge-info-button {
  word-wrap: normal;
  border-left: 2px solid #3F729B;
}
#test-div-2 .challenge-info-button:hover {
  background-color: #EA4C89;
  border-radius: 5px;
}


.challenge-booking-details .item .title {
  color:#fff;
  font-size:10px;
  font-weight:300;
  padding:5px 0 5px 0;
}
.challenge-booking-details .item .value {
  color:#fff;
  font-size:12px;
  margin:4px 0 0 0;
  font-weight:100;
}

#test-div-2 .challenge-card .challenger-details {
  background:#FFCD00;
  width:94%;
/*  padding: 5px 0 5px 0;*/
  margin: 5px auto 5px auto;
  border-radius: 5px;
}
#test-div-2 .challenge-card .challenger-details .clearfix {
  overflow: auto;
  zoom: 1;
}


#test-div-2 .challenge-card .challenger-details .challenger-item {
  float:left;
/*  width: 25%;*/

}
#test-div-2 .ch-image {
  padding-top: 3px;
  width: 12% !important;
}
#test-div-2 .ch-name {
  width: 28%;
}
#test-div-2 .ch-info {
  width:15%;

}
#test-div-2 .ch-rank {
  width:15%;
}

#test-div-2 .ch-form {
  width:15%; 
}
#test-div-2 .ch-profile {
  width: 15%;
}
#test-div-2 .ch-rank .title {
  font-size: 10px;
  font-weight: 300;
  padding: 5px 0 5px 0;
}
#test-div-2 .ch-rank .value{
  font-size: 10px;
  font-weight: 300;
  padding: 5px 0 5px 0;
}
#test-div-2 .ch-form .title {
  font-size: 10px;
  font-weight: 300;
  padding: 5px 0 5px 0;
}
#test-div-2 .ch-form .value{
  font-size: 10px;
  font-weight: 300;
  padding: 5px 0 5px 0;
}

#test-div-2 .challenge-circle {
  margin: 0 0 0 5px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #F16964;
  border:1px solid #3F729B;
}
#test-div-2 .ch-info .title  {
  font-size: 10px;
  font-weight: 300;
  padding: 5px 0 5px 0;
}
#test-div-2 .ch-info .value {
  font-size: 10px;
  font-weight: 300;
  padding: 5px 0 5px 0;
}
#test-div-2 .ch-profile:hover {
  border-radius: 5px;
  background-color:#3468AF;
}

#test-div-2 .accept:hover {
  border-radius: 5px;
  background-color:#30BD8A;
}
#test-div-2 .decline:hover {
  border-radius: 5px;
  background-color: #E64C65;
}


#profile-wrapper {
  text-align: center;
}
/*#profile-center {
  text-align: center;
}*/
.profile, .my-profile-info {
  display: inline-block;
}

.profile {
/*  text-align: center;*/
  font-size: 3em;
  background: #54ACEE;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: .2em;
  
}
.profile p {
  font-size: 1em;
  float: none;
}
.profile img {
  margin-top: .3em;
}
.my-profile-info {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1em; 
}

.profile .win-loss-info {
  display: inline-block;
  
}
.profile #win-loss-bar {
  background: #ADD8FA;
  height: 1.5em;
  border-radius: .2em;
  font-size: .6em;
}
.user-image {
  width: 200px;
  height: 200px;
  border: 1px solid #6B1229;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xml…3.535L0%2C3.535V0z%20M8.465%2C12L12%2C8.465V12H8.465z%27/%3E%0A%3C/svg%3E");
}



































