/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-info {
  text-align: center;
  font-size: 3em;
}
.court-info {
  text-align: center;
  font-size: 1em;
  text-decoration: none;
}

.profile {
  text-align: center;
  font-size: 3em;
}

.user-image {
  width: 200px;
  height: 200px;
  border: 1px solid #6B1229;
  border-radius: 50%;
}
.bookedCourt {
  border: 2px black solid;
  padding: 10px;
  margin: 10px;
}

.challenge_list {
  text-decoration: none;
  list-style-type: none;
  padding: 3px;
}

.opponent_list {
  text-decoration: none;
  list-style-type: none;
  padding: 3px;
}
.all_courts {
  text-decoration: none;
  list-style-type: none;
  padding: 3px;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}