<h1>Squash-Tinder App</h1>

<map lazy-load style="display: block; height: 500px;"
      zoom="12"
      center="Old Street, London, United Kingdom">
           <marker position="{{ me }}" 
           title="My Current Location"
           animation="Animation.BOUNCE"
           ></marker>
       <marker ng-repeat="centre in centres" position="{{ centre.latitude }},{{ centre.longitude}}"></marker>
</map> 
<div class="main-info">
  <p>{{ displayTime }}</p>
  <p>
  <button type="button" class="btn btn-primary btn-lg">Find a Court</button>
  <button type="button" class="btn btn-default btn-lg">Find an Opponent</button>
</p>
 <!--  <p ng-repeat="centre in centres">{{ centre }}</p> -->
</div>