



  <div class="page-header">
    <h1>Leaderboard<small> Subtext for header</small></h1>
  </div>


   <div class="squash-leaderboard" data-example-id="table-within-panel">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        <p>The Overall Leaderboard </p>
      </div>

<!--       <div ng-repeat="user in top_users | orderBy:['-elo', 'first_name'] | limitTo:5 "> -->
      <table class="table">

        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ELO</th>
            <th>Form</th>
          </tr>
        </thead>        
        <tbody>
          <tr ng-repeat="user in top_users | orderBy:'-elo' |emptyToEnd:'elo' | limitTo:5 ">           
            <th scope="row">{{user.length}}</th>
            <td class="my-tab-data">{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.elo}}</td>
            <td>{{user.index}}</td>
          </tr>
        </tbody>
      </table>   
  
    </div>
  </div>


<div class="all-users-page">
  <ul class="thumbnails" >
      <li class="span3 shot" ng-repeat="user in top_users | orderBy:['-elo', 'first_name'] | limitTo:5 ">
      <div class="thumbnail">
        <a href="#">
          <img ng-src="{{user.user_image.url}}">
        </a>
        <strong class="title">{{user.first_name}}</strong>
        
        <a class="player" href="#">
          {{user.profile_name}}  
        </a>
        <p>{{ user.tagline}}</p>

        <div id="elo pull-right">
           <i class="fa fa-bullseye"></i>
            ELO {{ user.elo }}
        </div>

        <div class="stats">
          <span class="stat">
            <i class="fa fa-user-plus fa-1x"></i>
           Like
          </span>
          <span class="stat">
            <i class="fa fa-times"></i>
              Next
          </span>
          <span class="stat">
            <i class="fa fa-comments-o fa-1x"></i>
            Message
          </span>
          <span class="start">
            <i class="fa fa-bullseye"></i>
            ELO {{ user.elo }}
          </span>
          <span class="stat">
            <i class="fa fa-sort-asc fa-1x"></i>
              {{ user.level }}
          </span>
        </div>

      </div>
      </li>
  </ul>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->
  <table class="table">
    ...
  </table>
</div>









<div class="tinder-container">
  <div class="phone">
    <div class="app clearfix">
      <div class="content">
      </div>  
      <div class="tinder-info">        
      </div>
      <div class="footer clearfix">
       <!--  <div class="hack-184"></div> -->
        <div id="swipe_dislike" class="rate"></div>
        <div class="info"></div>
        <div id="swipe_like" class="rate"></div>
      </div>
    </div>  
  </div>
</div>

 <!--          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->






