<h1>Squash-Tinder App</h1>

<map lazy-load style="display: block; height: 500px;"
      zoom="12"
      center="Old Street, London, United Kingdom">
           <marker position="{{ me }}" 
           title="My Current Location"
           animation="Animation.BOUNCE"
           ></marker>
       <marker ng-repeat="centre in centres" position="{{ centre.latitude }},{{ centre.longitude}}"></marker>
</map> 
<div class="main-info">
  <p>{{ displayTime }}</p>
  <p>
    <button ng-controller="CourtController" type="button" class="btn btn-primary btn-lg" ng-click="findCourts()">Find a Court</button>
    <button type="button" class="btn btn-default btn-lg">Find an Opponent</button>
  </p>

  <form ng-controller="ChallengeController" name="challengeForm" ng-submit="newChallenge()" > 
    <input type="hidden" ng-model="challengeUser.player1_id" ><br>
    <button>Submit</button>
  </form>
</div>

<!-- <div ng-controller="ChallengeController">
  <ul>
    <li ng-repeat></li>
  </ul>
</div> -->




<!-- this shows what courts are available -->
<div class="court-info" ng-controller="CourtController">
  <ul>
    <li ng-repeat="court in allavailableCourts">{{ court.availability }} | {{ court.centre.location }} | {{ court.court_no }} | {{ basicformat(court.start_time)}} <button type="button" class="btn btn-default btn-sm active">Book Now</button> </li>
  </ul>
</div>




