<h1>Squash-Tinder App</h1>

<map lazy-load style="display: block; height: 500px;"
      zoom="12"
      center="Old Street, London, United Kingdom">
           <marker position="{{ me }}" 
           title="My Current Location"
           animation="Animation.BOUNCE"
           ></marker>
       <marker ng-repeat="centre in centres" position="{{ centre.latitude }},{{ centre.longitude}}"></marker>
</map> 
<div class="main-info">
  <p>{{ displayTime }}</p>
  <p>
    <button ng-controller="CourtController" type="button" class="btn btn-primary btn-lg" ng-click="findCourts()">Find a Court</button>
    <button type="button" class="btn btn-default btn-lg">Find an Opponent</button>
  </p>
  <div ng-controller="ChallengeController">
     <button type="button" class="btn btn-default btn-lg" ng-click="newChallenge(user.id)">Create Challenge</button>
  </div>
</div>

<!-- this shows what courts are available -->
<div class="court-info" ng-controller="CourtController">
<!--   <ul>
    <li ng-repeat="court in allavailableCourts">{{ court.availability }} | {{ court.centre.location }} | {{ court.court_no }} | {{ basicformat(court.start_time)}} <button type="button" class="btn btn-default btn-sm active" ng-click="bookCourt(court)">Book Now</button></li>
  </ul> -->

<!-- this shows all the courts with a user_id..so courts that have been booked by SqTinder users -->
  <ul>
  <h2>My booked courts</h2>
    <li ng-repeat="court in bookedbyus"> {{ court.centre.name}} | {{ court.start_time}} | {{ court.user_id }} <button type="button" class="btn btn-default btn-sm active">Issue Challenge</button> </li>
  </ul>

</div>





<!--  <li ng-repeat="court in allavailableCourts">{{ court.availability }} | {{ court.centre.location }} | {{ court.court_no }} | {{ basicformat(court.start_time)}} <button type="button" class="btn btn-default btn-sm active" ng-click="bookCourt(gon.current_user.id); selectCourt(court)">Book Now</button></li>
  </ul> -->



