<h1>Squash-Tinder App</h1>

<map lazy-load style="display: block; height: 500px;"
      zoom="12"
      center="Old Street, London, United Kingdom">
           <marker position="{{ me }}" 
           title="My Current Location"
           animation="Animation.BOUNCE"
           ></marker>
       <marker ng-repeat="centre in centres" position="{{ centre.latitude }},{{ centre.longitude}}"></marker>
</map> 
<div class="main-info">
  <p>{{ displayTime }}</p>
  <p>

  </p>
</div>

<!-- ######## this shows what courts are available  - ng-show / not working ##### -->
<div class="court-info" ng-controller="CourtController">
 <button type="button" class="btn btn-primary btn-lg" ng-click="findCourts()">Find a Court</button>
    <ul ng-hide="bookedCourt">
<!--       <h2>Available courts to book</h2> -->
      <li ng-repeat="court in allavailableCourts">{{ court.availability }} | {{ court.id }}<button type="button" class="btn btn-default btn-sm active" ng-click="bookCourt(court)">Book Now</button>
      </li>
    </ul>
    <div ng-show="bookedCourt"> Court Booked by {{current_user.profile_name}} | {{ bookedCourt.centre_id }} | {{ bookedCourt.time }} | court_no: {{ bookedCourt.court_no}} </br> <button>SHARE</button> | <button>Find Opponent</button> | <button>End</button></div>
  </div>
  <!-- ######## this shows what courts are available  - ng-show / not working ##### -->


<!-- ######### this shows all the pending challenges ########### -->
  <div class="court-info" ng-controller="ChallengeController">
   <button type="button" class="btn btn-default btn-lg" ng-click="findOpponent()">Find an Opponent</button>
     <ul>
     <h2>Pending Challenges</h2>
       <li ng-repeat="challenge in challenges"> {{ challenge.court.start_time | customtime }} | {{ challenge.centre.location }} | {{ challenge.player1.profile_name }} | level: {{ challenge.player1.level }} <button type="button" class="btn btn-default btn-sm active" ng-click="acceptChallenge(challenge)">Play</button></li>
     </ul>
  </div>
  <!-- ######### this shows all the pending challenges ########### -->









<!-- this shows all the courts with a user_id..so courts that have been booked by SqTinder users -->

<!-- THIS LETS YOU ISSUES CHALLENGES ONCE YOU HAVE BOOKED A COURT -->
  <!-- <ul> -->
  <!-- <h2>My booked courts</h2>
    <li ng-repeat="court in bookedbyus"> {{ court.centre.name }} | {{ court.start_time}} | {{ court.user_id }} <button type="button" class="btn btn-default btn-sm active" ng-click="issueChallengewithCourt(court)">Issue Challenge</button> </li>
  </ul>
 -->
<!-- </div> -->


<div ng-controller="MapController"></div>


<!--  <li ng-repeat="court in allavailableCourts">{{ court.availability }} | {{ court.centre.location }} | {{ court.court_no }} | {{ basicformat(court.start_time)}} <button type="button" class="btn btn-default btn-sm active" ng-click="bookCourt(gon.current_user.id); selectCourt(court)">Book Now</button></li>
  </ul> -->



