
<section class="module parallax parallax-4">
  <div class="container">
    <div class="animation-photo">
      <div class="squash-ball">
        <div id="animation-dot"></div>
        <div id="loading">
          SEARCH
        </div>
      </div>
    </div>
    <div class="pulse"></div>
  </div>
</section>



<div id="search-results">
  <div class="toggle-buttons">
    <button class="find-court-button">Find a Court</button>
    <button class="find-opponent-button">Find an Opponent</button>
  </div> 

  <div class"map-and-challenge-wrapper clearfix">

    <div class="map-hide">
    <map class="map" lazy-load
          zoom="13"
          center="68 Hanbury Street, London">    
           <marker position="[{{meLat}},{{meLong}}]" 
           title="My Current Location"
           animation="Animation.BOUNCE"
           ></marker>
           <marker ng-repeat="centre in centres" position="{{ centre.latitude }},{{ centre.longitude}}"
           title="{{centre.name}}" on-click="showInfoWindow(event, 'marker-info')"></marker>
           <info-window id="marker-info">
              <h4></h4>
            </info-window>
      </map>  
    </div>
    
    <div class="main-page-courts">
      <div ng-controller="CourtController" class="court-cont">
        <button class="find-court-button"
          ng-click="findCourts()">
          SEARCH COURTS
        </button>
        <ul class="av-courts" ng-hide="bookedCourt">
          <li ng-repeat="court in courtsAndDistances | orderBy:['dist','start_time'] | filter:'!booked' | limitTo:10 " >{{ court.centre.name }} | {{ court.start_time | customtime }} | Distance: {{ court.dist | number:1 }}km's 
          <button class"btn" ng-click="bookCourt(court)">Book Now</button>               
          </li>
        </ul>  
        <div class="bookedCourt" ng-show="bookedCourt"> Court Successfully Booked! </br> {{ court.centre.name }} | {{ bookedCourt.time }} | Court#: {{ bookedCourt.court_no}} </br>
          <button type="button" 
            class="btn btn-primary btn-sm active" 
            ng-click="issueChallengewithCourt(bookedCourt)">
            Find Opponent
          </button> 
        </div>       
      </div>
    </div> 
    <div class="main-challenge-info" ng-controller="ChallengeController">
       <button class="find-opponent-button" 
          ng-click="findOpponent()">
          SEARCH OPPONENTS
       </button>
          <ul ng-hide="challengeOffered" ng-repeat="challenge in challengesAndDistances | orderBy:'dist' | limitTo:6">
            <li class="challenge_list">
            <strong>location: </strong> 
              {{ challenge.court.start_time | customtime }} | {{ challenge.centre.name }} | {{ challenge.dist | number:1}}km's 
            </li>
             <li class="challenge_list opponent">
              <strong>Opponent: </strong>
                {{ challenge.player1.first_name }} {{ challenge.player1.last_name }} | ELO {{ challenge.player1.elo }} level: {{ challenge.player1.level }} 
              <button>
                <a href="profile/{{ challenge.player1_id }}">View Profile</a>
              </button> 
              <button type="button" 
                class="btn btn-info active" 
                ng-click="challengePlayer1(challenge)">
                Play
              </button>
              </li>
           </ul>
         <div ng-show="challengeOffered" class="success-challenge-message">Challenge Pending..good luck <br>
         {{ current_user.first_name }}  <button>
         <a href="profile/{{ challenge.player1_id }}">View Details</a></button></div>
    </div> 
  </div>
</div>



















