



<!-- <div class="match-wrapper">
  <div class="match-background"> -->
<!--     <img src="https://s3-eu-west-1.amazonaws.com/squash-bucket/uploads/user/user_image/squash-player.png"> -->
<!--    <div class="inner-wrapper">
    <div class="match-title"><h1>Its a Match</h1></div>
     <div class="match-player-images">
       <div class="player-circle mc-one"></div>
       <div class="versus"><h1>Vs</h1></div>
       <div class="player-circle mc-two"></div>
     </div>
     <div class="match-buttons">
       <div class="mc-message">
          <h2>message <span><i class="fa fa-comment-o"></i></span></h2>
        </div>
       <div class="mc-continue">
          <h2>continue <i class="fa fa-share"></i></h2>
       </div>
     </div>
   </div>
  </div>

  
</div> -->
<!-- <div class=darker></div> -->


<!-- <div id="top-photo">
  <img src="https://s3-eu-west-1.amazonaws.com/squash-bucket/uploads/user/user_image/ashour-sharp.jpg">
</div> -->


<section class="module parallax parallax-1">
  <div class="container">
    <h1>SQUASH MATCH</h1>
  <div class="hr"></div>
  <h4>SPORTS APP, 2015</h4>
  </div>
</section>

<section class="module content content-1">
  <div class="container container-1">
    <h4>About</h4>
    <p>Squash Match is a project to build an app that helps you connect to users and find available sports facilities in your local area. In big cities like London where a large number of people are time poor arranging ad-hoc sports events is nearly impossible. Sadly this has led many over 30's to take up jogging. The aim of Squash Match is to allow users to find others nearby, book nearby courts and play.</p>
    <h4>How it Works</h4>
    <p>Users log on to Squash Match and can either search for and book an available court or search for other users who currently have courts booked and are looking for a suitable challenge.</p>
    <h4>Rating System</h4>
    <p>One of the biggest factors to consider is the competition. No one want to win or lose 10 - nil. Squash Match uses the  Elo rating system to rank players. All players start with 1000 points which are added and deducted for wins and losses. The greater the point difference between the players the more points the winner will get. The algorithm was designed to rank chess players and is still used today. When more testing has been done the algorithm can be tweaked so it more accuratly models the behaviour of sporadic amateur athletes. </p>
  </div>
<!--   <div class-"container container-2"><h4>Tech</h4></div> -->

  
</section>

<section class="module parallax parallax-2">
  <div class="container large-1">
    <h1>SEARCH</h1>
  </div>
</section>

<section class="module content content-2">
  <div class="container container-2">
    <h4>Find Nearby Players</h4>
    <p> Walk out of work and feel like a match, use the geolocate function to find nearby players to compete against. Had a good game? Add this player to your favourties to arrange a rematch! Log the result so that rating system is updated and that matching engine improves</p>
    <h4>BOOK</h4>
    <p>Use the search function on Squash Match to find available courts nearby, play with a friend or send out a challenge to a worthy adversary </p>
    <i class="fa fa-credit-card fa-5x"></i>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
    <h1>PLAY</h1>
  </div>
</section>

<section class="module content content-3">
  <div class="container container-3">
    <h4>BUILT WITH</h4>

 <div class="tech-logo-wrapper">
    <div class="tech-logo-1">
      <img src="/angularjs-logo.png">
    </div>
    <div class="tech-logo-2">
      <img src="/web-logos.png">
    </div>
    <div class="tech-logo-3">
      <img src="/rails-logo.png">
    </div>
    <div class="tech-logo-4">
      <img src="/sass-logo-new.png">
    </div>
    <div class="tech-logo-5">
      <img src="/postgresql_logo.png">
    </div>
  </div>  
  </div>
</section>






 <!--  <div class="iphone">       
    <div class="camera"></div>
    <div class="speaker">
      <div class="inside"></div>
    </div>
      <div class="screen"></div>       
  </div> -->











