<!-- <h2><a href="/test/home">Home</a></h2> -->


<div id="test-wrap">
  <div id="test-div-1">
    <div class="profile-header">
      <h1>Full Name</h1>
      <h2>Tagline...</h2>
      <div class="profile-image">
        <img ng-src="{{ user.user_image.url }}"/>
      </div>
     </div>
      <div class="profile-social-links">
        <a class="info-circle blu"></a>
        <a class="info-circle lblu"></a>
        <a class="info-circle dblu"></a>
        <a class="info-circle red"></a>
      </div>
      <div class="profile-footer">
        <a class="profile-btn" href="#">Follow</a>
      </div>
  </div>

  <div id="test-div-2">
    <div class="profile-info-header">
      <div class="booking-info">
        <h2>BOOKINGS</h2>
      </div>
      <div class="challenge-info">
        <h2>CHALLENGES</h2>
      </div>
    </div>
      <div class="booking-card-wrap">
        <div class="booking-card">
          <div class="booking-title"><h2>COURT BOOKED <span><i class="fa fa-ticket"></i></span></h2></div>
          <div class="booking-details clearfix">
            <div class="item">
              <div class="title">DATE</div>
              <div class="value">16/04</div>
            </div>
            <div class="item">
              <div class="title">TIME</div>
              <div class="value">18.45</div>
            </div>
            <div class="item">
              <div class="title">LOCATION</div>
              <div class="value">Clissold</div>
            </div>
          </div>
           <div class="booking-links">
            <a class="info-circle calendar"><i class="fa fa-calendar"></i></a>
            <a class="info-circle pay"><i class="fa fa-credit-card"></i></a>
            <a class="info-circle message"><i class="fa fa-envelope-o"></i></a>
            <a class="info-circle map-icon"><i class="fa fa-map-marker"></i></a>
          </div>
          <div class="btn btn-continue">CONTINUE</div>
        </div>
     </div>

     <div class="challenge-card">
        <div class="challenge-title"><h2>CHALLENGES <span><i class="fa fa-user-plus"></i></span></h2></div>
        <div class="challenge-booking-details clearfix">
          <div class="item">
              <div class="title">DATE</div>
              <div class="value">16/04</div>
            </div>
            <div class="item">
              <div class="title">TIME</div>
              <div class="value">18.45</div>
            </div>
            <div class="item">
              <div class="title">LOCATION</div>
              <div class="value">Clissold</div>
            </div>
            <div class="item">
              <div class="challenge-info-button"><h2>More Info</h2></div>
            </div>
        </div>   
        <div class="challenger-details clearfix">
          <div class="challenger-item ch-image">
            <div class="challenge-circle"></div>
          </div>
          <div class="challenger-item ch-name"><h2>Colin Durbin</h2></div>
         
          <div class="challenger-item ch-info">
            <div class="title">ELO</div>
            <div class="value">1849</div>
          </div>
          <div class="challenger-item ch-profile">
            <h2>View Profile</h2>
          </div>

   <!--        <div class="challenger-item accept">
            <h2>Accept</h2>
          </div>
          <div class="challenger-item decline">
            <h2>Decline</h2>
          </div> -->

        </div>  


       
     </div>


  </div>

</div>

<!-- 
          <div class="challenger-links">
            <a class="info-circle info"><i class="fa fa-info-circle"></i></a>
            <a class="info-circle gender"><i class="fa fa-male"></i></a>
            <a class="info-circle play"><i class="fa fa-check fa-1x"></i></a>
            <a class="info-circle cancel"><i class="fa fa-times-circle-o"></i></a>
          </div> -->


 <!-- <div class="challenger-details clearfix">
          <div class="challenger-img">
            <a class="info-circle challenger-img"><i class="fa fa-user"></i></a>
            <! <img ng-src="{{ user.user_image.url }}"/> -->
         <!--  </div>
          <div class="challenger-name">
            <h2>Mike Fischer</h2>
          </div>
          <a class="challenger-info"><i class="fa fa-info-circle"></i></a>
          <div></div>
          <div></div>
          <div></div>
        </div>   -->



<!-- <div id="profile-wrapper">
<div id="profile-center">

  <div class="profile">
    <img class="user-image pb-pattern o-lines-light" 
      ng-src="{{ user.user_image.url }}"/>
    <p>{{ user.first_name }} {{ user.last_name}}</p>
    <! <p> aka '{{ user.profile_name}}'</p> -->
    <!-- <p>ELO: {{ user.elo }}</p>
    <div id="win-loss-bar">
      <p class="win-loss-info">W: {{ user.wins}}</p>
      <p class="win-loss-info">L: {{ user.losses }}</p>
      <p class="win-loss-info">Win %: {{ (user.wins/(user.losses + user.wins)) * 100 | number:0 }}%</p>
      <! <p class="win-loss-info">ELO: {{ user.elo }}</p> -->
   <!--  </div>
  </div> -->   









<!--   <div class="my-profile-info"> -->

<!--     <div class="bookings">
      <h2>My Bookings</h2>
      <ul ng-repeat="court in myCourts | limitTo:5">
        <li class="booked-courts-list">
          {{ court.start_time | customtime }} | {{ court.centre.name }} 

          <button 
            type="button" 
            class="btn btn-info btn-sm">
            Find Opponent
          </button> 

          <button 
            type="button" 
            class="btn btn-warning btn-sm">
            Cancel Booking
          </button> 

        </li>
      </ul>     
    </div> -->

   <!--  <div class="challenges">
      <h2>My Matches</h2>
      <ul ng-repeat="challenge in myChallenges | limitTo:2">

        <li class="opponent_list"> 
          <strong>Booking:</strong> 
          {{ challenge.court.start_time | customtime }} | {{ challenge.centre.name }}  
        </li>
       
        <li class="opponent_list">
          <strong>Opponent:</strong> 
          {{ challenge.player1.first_name }} {{ challenge.player1.last_name }} | level: {{ challenge.player1.level}} 

          <button 
            type="button" 
            class="btn btn-info btn-xs" 
            ng-click="getUserProfile(challenge.player1_id)">
            <a href="profile/{{ challenge.player1_id }}">View Profile</a>
          </button> 

         <button 
            type="button" 
            class="btn btn-success btn-xs"
            ng-click="acceptChallenge(challenge)">
             Accept
          </button> 

           <button 
            type="button" 
            class="btn btn-warning btn-xs"
            ng-click="declineChallenge(challenge)"> 
             Decline
          </button>           
 -->
          <!-- <button 
            type="button" 
            class="btn btn-danger btn-xs"
            ng-click="destroyChallenge(challenge)">
            Cancel Match
          </button> 

          <button 
            type="button" 
            class="btn btn-success btn-xs" 
            ng-click="logWin(challenge)">
            Log Win 
          </button>
          
          <button 
            type="button" 
            class="btn btn-warning btn-xs"
            ng-click="logLoss(challenge)">
            Log Loss
          </button> -->

<!--         </li>
      </ul>
     </div>

  </div>
</div>
</div> -->

<!-- <div ng-controller="FooCtrl"> -->
<!-- 
    <a class="btn btn-success" ng-click="doGood()">Do Good</a>
    <a class="btn btn-danger" ng-click="doEvil()">Do Evil</a>
    <a class="btn pull-right" ng-click="reset()">Reset</a> -->
<!-- </div> -->
<!-- <hr> -->
<!-- <div ng-controller="AlertsCtrl"> -->
    <!-- div ng-repeat="(key,val) in alerts" class="alert {{key}}">
        <div ng-repeat="msg in val">{{msg}}</div> -->
<!--     </div> -->
<!-- </div> -->


  