

<div class="up-wrapper">
  <div class="up-card">
    <div class="bumper"></div>
    <div class="up-picture"><!-- <img src=""> --></div>
    <div class="up-user-name"><h1>Miko Darcy</h1></div>
    <div class="up-user-description">
      <p id="up-tagline">I came here to do two things, drink beer and kick ass</p>
    </div>

    <div class="up-details clearfix">
      <div class="up-item elo">
        <div class="title">ELO</div>
        <div class="value">1849</div>
      </div>
      <div class="up-item rank">
        <div class="title">Rank</div>
        <div class="value">109th</div>
      </div>
      <div class="up-item form">
        <div class="title">Form</div>
        <div class="value">WLW</div>
      </div>
      <div class="up-item message">
        <div class="title">Form</div>
        <div class="value">WLW</div>
      </div>
    </div>
    
    <div class="up-links clearfix">
      <div class="up-item calendar">
        <a class="info-circle"><i class="fa fa-calendar"></i></a>
      </div>
      <div class="up-item pay">
        <a class="info-circle"><i class="fa fa-credit-card"></i></a>
      </div>
      <div class="up-item message">
        <a class="info-circle"><i class="fa fa-envelope-o"></i></a>
      </div>
      <div class="up-item map-icon">
      <a class="info-circle"><i class="fa fa-map-marker"></i></a>
      </div>
    </div>

    <div class="up-links link-2 clearfix">
      <div class="up-item teams">
        <a class="info-circle"><i class="fa fa-users"></i></a>
      </div>
      <div class="up-item history">
        <a class="info-circle"><i class="fa fa-history"></i></a>
      </div>
      <div class="up-item trophy">
        <a class="info-circle"><i class="fa fa-trophy"></i></a>
      </div>
      <div class="up-item up-phone">
      <a class="info-circle"><i class="fa fa-phone"></i></a>
      </div>
    </div>


  </div>

  </div>





























<!-- <h2 class="title-pen"> Player Profile <span>UI</span></h2>

<div class="user-profile">
    <img class="avatar" ng-src="{{ userInfo.user_image.url }}"/>
    <div class="user-username">
      <div class="username">{{ userInfo.first_name }} {{ userInfo.last_name}}</div>
      <div class="bio">{{ userInfo.tagline }}</div>
      <div class="user-elo">ELO: {{ userInfo.elo}}</div>
    </div>
     <ul class="data">
        <li>
          W:
          <span>{{ userInfo.wins }}</span>
        </li>
        <li>
        L:
          <span>{{ userInfo.losses }}</span>
        </li>
        <li>
         W%: -->
        <!--   <span>{{ (userInfo.losses/userInfo.wins) * 100 | number:0 }}%</span>
        </li> -->
       <!--  <li>
          <span>{{ (userInfo.losses/userInfo.wins) * 100 | number:0 }}%</span>
        </li> -->
<!--      </ul>
 </div>  --> 

 




