


<h2 class="title-pen"> Player Profile <span>UI</span></h2>

<div class="user-profile">
    <img class="avatar" ng-src="{{ userInfo.user_image.url }}"/>
    <div class="user-username">
      <div class="username">{{ userInfo.first_name }} {{ userInfo.last_name}}</div>
      <div class="bio">{{ userInfo.tagline }}</div>
      <div class="user-elo">ELO: {{ userInfo.elo}}</div>
    </div>
     <ul class="data">
        <li>
          W:
          <span>{{ userInfo.wins }}</span>
        </li>
        <li>
        L:
          <span>{{ userInfo.losses }}</span>
        </li>
        <li>
       <!--  W%: -->
          <span>{{ (userInfo.losses/userInfo.wins) * 100 | number:0 }}%</span>
        </li>
       <!--  <li>
          <span>{{ (userInfo.losses/userInfo.wins) * 100 | number:0 }}%</span>
        </li> -->
     </ul>
 </div> 

 




